# Python-related files
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/

# PyCharm specific files
.idea/

# Byte-compiled and cache files
*.pyo
*.pyd
*.pdb

# Logs and temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Ignore coverage and testing reports
htmlcov/
*.cover
*.coverage
*.coverage.*

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment-related files
.env
.env.*
